In [1]:
def fact(n):
    if (n == 0 or n == 1):
        return 1
    return n * fact(n - 1)

In [2]:
fact(5)

120

In [3]:
fact(4)

24

In [28]:
n = 20
d = [0] * n
d[0] = 1
d[1] = 1

def fact2(n):
    print(n, d)
    if (n == 0 or n == 1):
        print("***")
        return d[n]
    if (d[n] == 0):
        print("---")
        d[n] = n * fact2(n - 1)
        return d[n]
    else:
        print("+++")
        return d[n]

In [29]:
fact2(4)

4 [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
3 [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
2 [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
1 [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
***

24

In [30]:
d

[1, 1, 2, 6, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [31]:
fact2(3)

3 [1, 1, 2, 6, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
+++

6

In [33]:
fact2(6)

6 [1, 1, 2, 6, 24, 120, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
5 [1, 1, 2, 6, 24, 120, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
+++

720

In [36]:
def fact3(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

In [37]:
fact3(6)

720

In [65]:
n = 20
d = [0] * n
d[0] = 1
d[1] = 1
d[2] = 2
d[3] = 4

def task01(n):
    print(n, d)
    if (n == 0 or n == 1 or n == 2 or n == 3):
        print("*** base")
        return d[n]
    if (d[n] == 0):
        print("---")
        if (d[n - 1] != 0):
            d[n] = d[n - 1] + d[n - 2] + d[n - 3]
        elif (d[n - 2] != 0):
            d[n] = task01(n - 1) + d[n - 2] + d[n - 3]
        elif (d[n - 3] != 0):
            d[n] = task01(n - 2) + task01(n - 1) + d[n - 3]
        else:
            d[n] = task01(n - 3) + task01(n - 2) + task01(n - 1)
        return d[n]
    else:
        print("+++ done")
        return d[n]

In [66]:
d

[1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [67]:
task01(3)

3 [1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
*** base

4

In [68]:
task01(4)

4 [1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---

7

In [69]:
d

[1, 1, 2, 4, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [70]:
task01(8)

8 [1, 1, 2, 4, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
5 [1, 1, 2, 4, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
6 [1, 1, 2, 4, 7, 13, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
7 [1, 1, 2, 4, 7, 13, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---

81

In [71]:
task01(17)

17 [1, 1, 2, 4, 7, 13, 24, 44, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
14 [1, 1, 2, 4, 7, 13, 24, 44, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
11 [1, 1, 2, 4, 7, 13, 24, 44, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
9 [1, 1, 2, 4, 7, 13, 24, 44, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
10 [1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---
12 [1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 274, 504, 0, 0, 0, 0, 0, 0, 0, 0]
---
13 [1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 274, 504, 927, 0, 0, 0, 0, 0, 0, 0]
---
15 [1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 274, 504, 927, 1705, 3136, 0, 0, 0, 0, 0]
---
16 [1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 274, 504, 927, 1705, 3136, 5768, 0, 0, 0, 0]
---

19513

In [99]:
n = 100
d = [0] * n
d[0] = 1
d[1] = 1

def task02(n, m):
    print(n, d[n], d[m])
    if (d[m] != 0 and d[m] < d[n]):
        print("*** too much")
    if (n == 1):
        print("*** base")
        return 1
    if (d[n] == 0):
        print("---")
        if (n % 3 == 0 and n % 2 == 0):
            d[n] = task02(n // 3, m)
            d[n] = min(d[n], task02(n //2, m))
            d[n] = min(d[n], task02(n - 1, m))
            d[n] += 1
        elif (n % 2 == 0):
            d[n] = task02(n // 2, m)
            d[n] = min(d[n], task02(n - 1, m))
            d[n] += 1
        elif (n % 3 == 0):
            d[n] = task02(n // 3, m)
            d[n] = min(d[n], task02(n - 1, m))
            d[n] += 1
        else:
            d[n] = task02(n - 1, m) + 1
        return d[n]
    else:
        print("+++ done")
        return d[n]

In [100]:
task02(81, 81)

81 0 0
---
27 0 0
---
9 0 0
---
3 0 0
---
1 1 0
*** base
2 0 0
---
1 1 0
*** base
1 1 0
*** base
8 0 0
---
4 0 0
---
2 2 0
+++ done
3 2 0
+++ done
7 0 0
---
6 0 0
---
2 2 0
+++ done
3 2 0
+++ done
5 0 0
---
4 3 0
+++ done
26 0 0
---
13 0 0
---
12 0 0
---
4 3 0
+++ done
6 3 0
+++ done
11 0 0
---
10 0 0
---
5 4 0
+++ done
9 3 0
+++ done
25 0 0
---
24 0 0
---
8 4 0
+++ done
12 4 0
+++ done
23 0 0
---
22 0 0
---
11 5 0
+++ done
21 0 0
---
7 4 0
+++ done
20 0 0
---
10 4 0
+++ done
19 0 0
---
18 0 0
---
6 3 0
+++ done
9 3 0
+++ done
17 0 0
---
16 0 0
---
8 4 0
+++ done
15 0 0
---
5 4 0
+++ done
14 0 0
---
7 4 0
+++ done
13 5 0
+++ done
80 0 4
---
40 0 4
---
20 5 4
*** too much
+++ done
39 0 4
---
13 5 4
*** too much
+++ done
38 0 4
---
19 5 4
*** too much
+++ done
37 0 4
---
36 0 4
---
12 4 4
+++ done
18 4 4
+++ done
35 0 4
---
34 0 4
---
17 6 4
*** too much
+++ done
33 0 4
---
11 5 4
*** too much
+++ done
32 0 4
---
16 5 4
*** too much
+++ done
31 0 4
---
30 0 4
---
10 4 4
+++ done
15 5 4
*** too much
+++ done
29 0 4
---
28 0 4
---
14 5 4
*** too much
+++ done
27 4 4
+++ done
79 0 4
---
78 0 4
---
26 6 4
*** too much
+++ done
39 6 4
*** too much
+++ done
77 0 4
---
76 0 4
---
38 6 4
*** too much
+++ done
75 0 4
---
25 6 4
*** too much
+++ done
74 0 4
---
37 6 4
*** too much
+++ done
73 0 4
---
72 0 4
---
24 5 4
*** too much
+++ done
36 5 4
*** too much
+++ done
71 0 4
---
70 0 4
---
35 8 4
*** too much
+++ done
69 0 4
---
23 7 4
*** too much
+++ done
68 0 4
---
34 7 4
*** too much
+++ done
67 0 4
---
66 0 4
---
22 6 4
*** too much
+++ done
33 6 4
*** too much
+++ done
65 0 4
---
64 0 4
---
32 6 4
*** too much
+++ done
63 0 4
---
21 5 4
*** too much
+++ done
62 0 4
---
31 6 4
*** too much
+++ done
61 0 4
---
60 0 4
---
20 5 4
*** too much
+++ done
30 5 4
*** too much
+++ done
59 0 4
---
58 0 4
---
29 6 4
*** too much
+++ done
57 0 4
---
19 5 4
*** too much
+++ done
56 0 4
---
28 5 4
*** too much
+++ done
55 0 4
---
54 0 4
---
18 4 4
+++ done
27 4 4
+++ done
53 0 4
---
52 0 4
---
26 6 4
*** too much
+++ done
51 0 4
---
17 6 4
*** too much
+++ done
50 0 4
---
25 6 4
*** too much
+++ done
49 0 4
---
48 0 4
---
16 5 4
*** too much
+++ done
24 5 4
*** too much
+++ done
47 0 4
---
46 0 4
---
23 7 4
*** too much
+++ done
45 0 4
---
15 5 4
*** too much
+++ done
44 0 4
---
22 6 4
*** too much
+++ done
43 0 4
---
42 0 4
---
14 5 4
*** too much
+++ done
21 5 4
*** too much
+++ done
41 0 4
---
40 6 4
*** too much
+++ done

5

In [103]:
d[81]

5

In [114]:
# RRLRRRLLR
# total = 1 + 1 + 1 + 1
# c = L
# i = 0 bL = R bR = R
# i = 1 bL = R bR = L
# i = 2 bL = L bR = R
# i = 3 bL = R bR = R
# i = 4 bL = R bR = R
# i = 5 bL = R bR = L
# i = 6 bL = L bR = L
# i = 7 bL = L bR = R
# i = 8 bL = R bR = None
def get_board(r, index, default = None):
    try:
        return r[index]
    except IndexError:
        return default

def pohod(r):
    total = r.count("B")
    r = r.replace("B", "")
    current = "L"
    for i in range(len(r)):
        bL = get_board(r, i) # LR
        bR = get_board(r, i + 1) # LR
        if current == bL:
            if (bL == bR) or (bL == "L" and bR is None):
                current = "L" if current == "R" else "R"
            total += 1
    if current == "L":
        total += 1
    
    return total

In [115]:
# поход

with open("input.txt") as in_f:
    r = in_f.readline()
result = pohod(r)
with open("output.txt", "w") as out_f:
    out_f.write(str(result))

In [116]:
# треугольник

In [144]:
d = [
    [7],
    [3, 8],
    [8, 1, 0],
    [2, 7, 4, 4],
    [4, 5, 2, 6, 5]
]
s = [
    [7],
    [3, 8],
    [8, 1, 0],
    [2, 7, 4, 4],
    [4, 5, 2, 6, 5]
]

In [145]:
for i in range(1, len(s)):
    for j in range(len(s[i])):
        if (j > 0 and j < (len(s[i - 1]))):
            s[i][j] += min(s[i - 1][j - 1], s[i - 1][j])
        elif (j > 0 and j == (len(s[i - 1]))):
            s[i][j] += s[i - 1][j - 1]
        elif (j == 0):
            s[i][j] += s[i - 1][j]

In [146]:
s

[[7], [10, 15], [18, 11, 15], [20, 18, 15, 19], [24, 23, 17, 21, 24]]

In [147]:
min(s[len(s) - 1])

17

In [158]:
d1 = [
    [7],
    [3, 8],
    [8, 1, 0],
    [2, 7, 4, 4],
    [4, 5, 2, 6, 5]
]
s1 = [
    [100, 7, 100, 100, 100, 100],
    [100, 3, 8, 100, 100, 100],
    [100, 8, 1, 0, 100, 100],
    [100, 2, 7, 4, 4, 100],
    [100, 4, 5, 2, 6, 5]
]

for i in range(1, len(d1)):
    for j in range(1, len(s1[i])):
        s1[i][j] += min(s1[i - 1][j - 1], s1[i - 1][j])

min(s1[len(d1) - 1])
s1

[[100, 7, 100, 100, 100, 100],
 [100, 10, 15, 200, 200, 200],
 [100, 18, 11, 15, 300, 300],
 [100, 20, 18, 15, 19, 400],
 [100, 24, 23, 17, 21, 24]]